.demo3{
  height: 850px;
  overflow-y:auto;
}
th{
  color: yellow;
  background-color: var(--background-secondary);
}
.gioi{
   color: green;
}
.kha{
   color: blue;
}
.trungbinh{
   color: orange;
}
.yeu{
   color: var(--error-dark);
}
.kem{
   color: var(--error-default);
}
.students-table{
   overflow-x: none;
   overflow-y: auto;
   max-height: 450px;

  table {
	width: 100%; 
  }
}
.students-details-table{
  table {
	width: 100%; 
  }
}